.img-hospital {
    width: 100vw;
    mask-image: linear-gradient(to bottom, gray 20%, transparent 100%);
}

.logo-home {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-login {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-login a {
    font-size: var(--font-size-base-md);
}

.ja-possuo-conta {
    
    text-align: center;
}

.ja-possuo-conta a {
    color: var(--subtitulo-campo-formulario-login);
    font-size: var(--font-size-base-md);
    font-weight: 700;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
